<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Svet</title>
=======
  <title>TaskRemote</title>
>>>>>>> 07fcd02de4b45aa36c2f0cd796957c78c072bf84
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
